In any language you will be able to find out the data structure >>>>you will able to find out the collection >>>> Collection are nothing but kind of the structure where i will be able to hold a multiple a different different khid of a data
Again here inside a python you will able to find out the multiple different different kind of the collection where you try to hold the varity of a data
> List
>Set
>duples
>string

# String

In [2]:
s = "my name is muzamil"

In [3]:
s

'my name is muzamil'

In [5]:
s[3:10]

'name is'

Start Point: End Point: Step Size

In [10]:
s[3:10:2]

'nm s'

In [11]:
s[::1]

'my name is muzamil'

 Revirse Order

In [12]:
s[10:2:-1]

' si eman'

In [13]:
s[::-1]

'limazum si eman ym'

In [14]:
s = "MUZAMIL"

In [15]:
s[-6]

'U'

In [16]:
s[3]

'A'

In [17]:
s[2]

'Z'

In [21]:
s[6]

'L'

#FOR LOOP

In [22]:
s

'MUZAMIL'

In [23]:
for i in s:
    print(i)

M
U
Z
A
M
I
L

In [9]:
s= "MUZAMMIL"

In [10]:
s

'MUZAMMIL'

In [12]:
for i in s:
    if i == 'M':
        print("WELLCOME")
    print (i)

WELLCOME
M
U
Z
A
WELLCOME
M
WELLCOME
M
I
L

In [28]:
for i in s:
    if i=="O":
        break
        print(i)
    else:
        print("THIS IS MY WEBSITE")

THIS IS MY WEBSITE
THIS IS MY WEBSITE
THIS IS MY WEBSITE
THIS IS MY WEBSITE
THIS IS MY WEBSITE
THIS IS MY WEBSITE
THIS IS MY WEBSITE
THIS IS MY WEBSITE

In [24]:
s

'MUZAMMIL'

In [29]:
for i in s:
    if i=="L":
        break
    print(i)
else:
    if i =='U':
        print("WELLCOME TO MY WEBSITE")
    print("WHAT IS YOUR NAME")

M
U
Z
A
M
M
I

In [33]:
for i in s:
    if i == "I":
        continue
    print(i)
else:
    print("WELLCOME TO MY WEBSITE")

M
U
Z
A
M
M
L
WELLCOME TO MY WEBSITE

continue: contiune means that to pass a contorl to the main loop

In [35]:
s = "MUZAMIL"
ss =""
for i in range(len(s)):
    if s[i] == 'M':
        continue
    else:
        ss = ss + s[i]

In [36]:
ss

'UZAIL'

In [37]:
s = "MUZAMIL"
ss =""
for i in range(len(s)):
    if s[i] == 'P':
        continue
    else:
        ss = ss + s[i]

In [38]:
ss

'MUZAMIL'

In [39]:
len(s)

7

In [41]:
n = 9
for i in range(0,n):
    for j in range(0,i+1):
        print("+", end = "")

+++++++++++++++++++++++++++++++++++++++++++++

In [46]:
n = 9
for i in range(0,n):
    for j in range(0, i +1):
        print("+" , end = "")
    print("\r")

+
++
+++
++++
+++++
++++++
+++++++
++++++++
+++++++++

In [56]:
n = 9
m = 8
for i in range(0 ,n):
    for j in range(0 ,m):
        for k in range(0 , n-m):
            print("#", end = "")
    print("\r")

########
########
########
########
########
########
########
########
########

problem statemnet: Solve this problem

In [80]:
n = int(input(" ENTER ANY NUMBER --"))
for i in range(n, 0 ,-1):
    for j in range(n-i):
        print(" ", end = '')
    for j in range(2*i-1):
        print("*" , end = '')
    print("\r")

 ENTER ANY NUMBER --7
*************
 ***********
  *********
   *******
    *****
     ***
      *

In [81]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [83]:
i = 1
k = 1
while i<=5:
    b = 1
    while b<=5-i:
        print(' ',end='')
        b=b+1
    j = 1
    while j<=k:
        print('#',end='')
        j=j+1
    print()
    k = k+2
    i =i+1

    #
   ###
  #####
 #######
#########

LIST
list and array is nothing but it a kind of a data structure which will be able to hold any homogeneous and hetrogeneous kind of the data set for me

In [89]:
name ="MUZAMIL"
phoneno = 3207480604
address = "ABBOTTBAD"

name , phoneno , address = "MUZAMIL", +923207480604 , "ABBOTTBAD"

In [90]:
l = ["MUZAMIL" , 3207480604 ,"ABBOTTBAD"]

In [91]:
l[0]

'MUZAMIL'

In [92]:
l[1]

3207480604

In [93]:
l[2]

'ABBOTTBAD'

In [94]:
l = ["MUZAMIL" , 3207480604 ,"ABBOTTBAD", 67+9j , 0.00987,[9,9,8,7],"hello world"]

In [95]:
l

['MUZAMIL',
 3207480604,
 'ABBOTTBAD',
 (67+9j),
 0.00987,
 [9, 9, 8, 7],
 'hello world']

In [97]:
for i in l:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'complex'>
<class 'float'>
<class 'list'>
<class 'str'>

parsing integer

In [98]:
for i in l:
    if type(i) == list:
        for j in i:
            print(type(j))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [99]:
for i in l:
    if type(i)==list:
        n = 0
        for j in i:
            if type(j) == int:
                n= n+j
        print(n)
        print(type(j))

33
<class 'int'>

RANGE

In [100]:
range(4,49)

range(4, 49)

In [101]:
for i in range(7,29):
    print(i)

7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28

In [102]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]